<h1>Description</h1>

In [2]:
# The code was removed by Watson Studio for sharing.

,Monthly Budget,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,Bills,2016-01-01 00:00:00,2016-02-01 00:00:00,2016-03-01 00:00:00,Total,Percent
3,Rent,1200,1200,1200,3600,0.611725
4,Car,250,250,250,750,0.127443